<div class="about-container">

  <h1 class="about-title">BIKEnaviってなに？</h1>

  <div class="about">
  BIKEnavi(ばいくなび)はバイク駐輪場の情報をシェアすることができるサイトです。<br>
  みんなが知らないような駐輪場の場所を知ることにより<br>
  交通手段のひとつとしてバイクを選択するきっかけに!!!<br>
  そうすればバイクの駐輪場が増え、ライダーの人口増加につながり<br>
  市街地や観光スポット等が更に賑わいを増し、地域活性化につながるかもしれません!!!
  </div>

</div>