
<div class="top-container">
<!-- <video class="bike_movie" src="/assets/BIKE_TOP.mp4" loop autoplay muted></video> -->
<%= video_tag asset_path("BIKE_TOP.mp4"), autoplay: true, loop: true, muted: true %>
</div>