// Place all the styles related to the parkings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.parking-new-container{
  padding-top: 100px;
  background-image: image-url("bike2.jpg");
  background-color:rgba(255,255,255,0.9);
  background-blend-mode:lighten;
  width: 100%;
  background-size: cover;
  background-position: bottom;
  height: 100%;
}

.parking-field{
  margin: 0 auto;
  text-align: center;
}

.parking-contents{
  font-size: 20px;
}

.searchfield{
  width: 330px;
  height: 30px;
  margin-left: 500px;
}

.clickablemap{
  display: block;
  margin: 0 auto;
}

.search-container{
  padding-top: 20px;
  background-image: image-url("bike2.jpg");
  background-color:rgba(255,255,255,0.9);
  background-blend-mode:lighten;
  width: 100%;
  background-size: cover;
  background-position: bottom;
  height: 100%;
}

.parking-edit{
  width: 100px;
}

.parking-edit a{
  text-decoration: none;
  color: #fff;
  font-family: sans-serif;
}